# This is a basic workflow to help you get started with Actions

name: Unit Test

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - develop
  pull_request:
    branches:
      - master
      - develop

env:
  PYTHON_VERSION: "{{ cookiecutter.python_version }}"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains two jobs "linting" and "test"
{% raw %}
  linting:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Run flake8 check
      run: make flake8
    - name: Run mypy check
      run: make mypy
    - name: Run bandit check
      run: make bandit
{% endraw %}
  test:
    needs: linting
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    {% if cookiecutter.use_database == "Yes" -%}
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: mysecretpassword
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    {%- endif %}
{% raw %}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/dev.txt
        pip install -e .
{% endraw %}
    - name: Test with pytest
      run: |
        pytest
      {% if cookiecutter.use_database == "Yes" -%}
      env:
        SQLALCHEMY_DATABASE_URI: "postgresql://postgres:mysecretpassword@localhost:5432/postgres"
      {%- endif %}